<nav class="ui stackable menu app-menu">
  <header class="ui header item">
    <a href="/">Volcano Watch</a>
  </header>

  <div class="right menu">
    <a id="welcome" class="item" href="/">Welcome</a>
    {{#if user}}
      <a id="dashboard" class="item" href="/dashboard">Dashboard</a>
    {{/if}}
    <a id="about" class="item" href="/about">About</a>
    <a id="safety" class="item" href="/safety">Safety</a>
    {{#if user}}
      <span class="item user-menu">
        <img class="ui avatar image" src="{{user.profileImage}}" alt="{{user.firstName}} profile">
        {{user.firstName}}
      </span>
      <a id="profile" class="item" href="/profile">Profile</a>
      <a class="item" href="/logout">Logout</a>
    {{else}}
      <a id="login" class="item" href="/login">Login</a>
      <a id="signup" class="item" href="/signup">Signup</a>
    {{/if}}
  </div>
</nav>

<script>
  const activeItem = document.querySelector('#{{id}}');
  if (activeItem) {
    activeItem.classList.add('active');
  }
</script>
